<html>
<head>
    <meta property="og:title" content="{{video.author}}"/>
    <meta property="og:site_name" content="{{video.title}}"/>
    <meta property="og:video" content="{{url or video.url}}"/>
    <meta property="og:video:secure_url" content="{{url or video.url}}"/>
    <meta property="og:video:width" content="{{video.width}}"/>
    <meta property="og:video:height" content="{{video.height}}"/>
    <meta property="og:type" content="video.other"/>
    <meta property="og:video:type" content="video/mp4"/>
</head>
<body>
haven't figured out how to send people to the original url yet lol
</body>
</html>